---
- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - install
    - configure

- name: Set defaults file
  template:
    src: blackbox_opts.j2
    dest: /etc/default/blackbox_exporter
    owner: root
    group: root
    mode: 0644
  register: _blackbox_defaults
  tags: configure

- name: Set blackbox configuration
  copy:
    src: "blackbox_exporter.yml"
    dest: "{{ openio_blackbox_config_file }}"
    owner: "openio"
    group: "openio"
  tags: configure
  register: _blackbox_conf

- name: Ensure blackbox service is started and enabled
  systemd:
    daemon_reload: true
    name: blackbox_exporter
    state: "restarted"
    enabled: true
  when:
    - _blackbox_conf is changed or _blackbox_defaults is changed
    - not openio_blackbox_provision_only
  tags: configure

- name: Check that service is up
  uri:
    url: "http://{{ openio_blackbox_bind_address }}:{{ openio_blackbox_bind_port }}"
    return_content: true
    status_code: 200
    register: _blackbox_check
    retries: 3
    delay: 5
    until: _blackbox_check is success
    changed_when: false
  tags: configure
  when:
    - not openio_blackbox_provision_only
...
